.topbar
{
    text-align: center;
    font-family: Arial;
    font-style: italic;
    color: antiquewhite;
    letter-spacing: -0.05em;
    background-color: firebrick;
    margin: 0;
    min-height: 500%;
    line-height: 2em;
    
}

.topbar p
{
    font-style: normal;
    font-family: Helvetica;
    margin-top: -1.5em;
}

.topbar li
{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: darksalmon;
    color: antiquewhite;
}

.topbar a:hover
{
    color: antiquewhite;
}

.topbar a:link
{
    color: black;
}

.topbar a:visited
{
    color: firebrick;
}

.d1
{
    text-align: center;
    background-color: firebrick;
    min-width: 50%;
    height: 450px;
    float: left;
    clear: right;
    position: sticky;
    box-sizing: border-box;
    margin-right: 50px;
    margin-bottom: 30px;
}

.d1 h1
{
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.05em;
    padding-left: 10px;
    padding-right: 10px;
    color: antiquewhite;
}

.d1 pre
{
    list-style: none;
    float: left;
    line-height: 2em;
    text-align: left;
    margin: 0;
    padding-left: 10px;
    color: antiquewhite;
    font-family: Arial;
    letter-spacing: -0.05em;
}

.d2
{
    float: top;
    box-sizing: border-box;
    min-width: 50%;
    min-height: 30%;
    margin-right: 30px;
}

.d2 p
{
    text-align: justify;
    text-indent: 3em;
    font-family: Helvetica;
    letter-spacing: -0.05em;
    position: sticky;
    padding-left: 10px;
}

.bioli
{
    font-family: Arial;
    letter-spacing: -0.05em;
    color: antiquewhite;
}

body
{
    background-color: darksalmon;
    margin: 0;
}